*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#site {
  min-width: 780px;
}
html, body {
  height: 100%;
  width: 100%; 
  margin:0px;
  padding: 0px;
}

.anchor {
  padding-top: 100px;
}

@font-face {
  font-family: 'Didot Bold';
  src: url('fonts/DidotLTStd-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Didot Headline';
  src: url('fonts/DidotLTStd-Headline.otf') format('opentype');
}
@font-face {
  font-family: 'Didot Roman';
  src: url('fonts/DidotLTStd-Roman.otf') format('opentype');
}
@font-face {
  font-family: 'Bauer';
  src: url('fonts/BauerBodoni.otf') format('opentype');
}
.services-container{
  width: 100vw;
}
#services-header {
  vertical-align: middle;
  margin-top: 30px;
}
#services-header h1 {
  color:black;
  position: relative;
  padding: 5px;
  font-weight:100;
}
#services-copy h2 {
  color:black;
  position: relative;
  padding: 5px;
  font-family: 'Didot Roman', serif;
  font-weight: 100;
  font-size: 20px;
}
.services {
  overflow: hidden;
}
.services #item {
  float:left;
  width: 33%;
  text-align:center;
}
.services #item p {
  color:black;
  padding: 20px;
  font-family: 'Open Sans', serif;
}
.services #item img {
  transform:scale(0.6);
  -webkit-transform:scale(0.6);
  -moz-transform:scale(0.6);
  -o-transform:scale(0.6);
  max-width:350px;
  margin-bottom:-50px;
  margin-top:-50px;
}
.my-work-container{
  width: 100vw;
  height: 500px;
}
#my-work-header {
  vertical-align: middle;
  margin-top: 30px;
}
#my-work-header h1 {
  color:black;
  position: relative;
  padding: 5px;
  font-weight:100;
}
.column {
  width: 25%;
  padding: 2%;
  height: 500px;
  float: left;
  margin: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: 100;
}
.column.wide {
  width: 50% !important;
  text-align: center;
}
.column#LB {
  background: url("images/my_work/LB.jpg") no-repeat center;
  background-size: auto 100% !important;
}
.column#CC {
  background-image: url("images/my_work/CC.JPG");
  background-position:center;
  background-repeat: no-repeat;
  background-size: auto 100% !important;
}
.column#PE {
  background: url("images/my_work/P.jpg") no-repeat center;
  background-size: auto 100% !important;
}
.column#BV {
  background: url("images/my_work/BV.jpg") no-repeat center;
  background-size: auto 100% !important;
}
.column:hover p {
  opacity: 1;
  animation: fadeInText 1s ease 1 forwards;
}

.column p {
  color: #fff;
  text-align: center;
  font-family: 'Didot Roman', serif;
  opacity: 0;
  padding:50px;
  background-color:rgba(0,0,0,.5);
  transition: all 0.5s ease;
}

h1 {
  color: #fff;
  font-size:22px;
  text-align: center;
  font-weight: 100;
  font-family: 'Didot Roman', serif;
  transition: all 0.5s ease;
}


@keyframes fadeInText {
  0% {opacity: 0;}
  50%{opacity: 0;}
  100%{opacity: 1;}
}

